MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_HOSTNAME=127.0.0.1
MONGODB_PORT=27017
MONGODB_DB=logs_db
MONGODB_URL=mongodb://${MONGODB_USERNAME}:${MONGODB_PASSWORD}@${MONGODB_HOSTNAME}:${MONGODB_PORT}/${MONGODB_DB}`
